.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width:300px 
  }

ion-card {
  background: rgba(255,255,255,0.5);
  border: solid 5px #1a1a1a;
}

ion-card-title {
  text-align: center;
  color: #1a1a1a;
}