.btn {
  height: 100px;
  line-height: 80px;
  width: 100px;
  font-weight: bold;
  border-radius: 50%;
  border: 5px solid white;
  background-color: transparent;
  color: white;
  text-align: center;
  cursor: pointer;
  background-size: 70px !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
