<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <div class="fallback" style="padding-top: 2em;">

    <ion-text color="secondary">
      <h1 style="padding-bottom: 2em;">
        Benvenuto {{currentUser?.displayName}}
      </h1>
    </ion-text>

    <ion-button (click)="goToMeteo()" expand="full">
       METEO
      <ion-icon style="padding-right: 10px;" name="cloudy-night" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-button (click)="goToGarage()" expand="full">
      GARAGE
     <ion-icon style="padding-right: 10px;" name="construct" slot="icon-only"></ion-icon>
   </ion-button>

  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="singOut()" expand="full" color="primary">
      Disconnetti
      <ion-icon style="padding-right: 10px;" name="exit-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
