<ion-header>
  <ion-toolbar color="success">
    <ion-title>Dettaglio Oggetto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="true">
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-card-header>
          <img *ngIf="utensil.imageB64" [src]="utensil.imageB64">
          <img *ngIf="tool.imageB64" [src]="tool.imageB64">
          <ion-card-title>{{tool.name}}</ion-card-title>
          <ion-card-subtitle>{{tool.productDetail?.shortDescription}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <h2 style="font-weight: bolder;">Raccomandazioni</h2>
          <div>
            {{tool.recommendations}}
          </div>
          <div>
            <h2 style="font-weight: bolder; padding-top: 1em;">Acquistato il:</h2>
            <div>
              {{tool.purchaseDate | date: 'dd/MM/yyyy' }}
            </div>
          </div>
          <div>
            <h2 style="font-weight: bolder; padding-top: 1em;">Prezzo:</h2>
            <div>
              {{tool.price | currency: 'EUR' : 'symbol': undefined : 'it-IT'}}
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  Dettagli
                </ion-col>
                <ion-col>
                  <img *ngIf="tool.brand?.name " [src]="takeBrandLogo(tool.brand.name)">
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <div>
          <ion-card *ngFor="let tooldetail of tool.productDetail?.descriptions">
            <ion-card-header (click)="showLabelValue(tooldetail.code)">
              <ion-card-title>{{tooldetail.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content #cardContentId>
              <span style="display: none" id="{{tooldetail.code}}">
                <ion-row *ngFor="let tooldetailtext of tooldetail.descriptionKeyValue">
                  <p style="font-weight: bolder;">{{tooldetailtext.label}}: </p>
                  <p style="padding-left: 1em;">{{tooldetailtext.value}}</p>
                </ion-row>
              </span>
            </ion-card-content>
          </ion-card>
        </div>
        <div *ngIf="utensil.id">
          <ul>
            <li>
              {{utensil.name}}
            </li>
            <li>
              {{utensil.piecesNumber}}
            </li>
            <li>
              {{utensil.startingDate.slice(0,10)}}
            </li>
            <li>
              {{utensil.endingDate.slice(0,10)}}
            </li>
          </ul>
        </div>
      </ion-card>
    </ion-row>

    <ion-row>
      <ion-button style="width: 100%;" (click)="backToArchive()">Indietro</ion-button>
    </ion-row>

  </ion-grid>

</ion-content>
